.parent {
    -fx-background-color: #fff;
}

.slydebar {
    -fx-background-color: #333645
}

.button:hover {
    -fx-background-color: #22242d;
}

.button:pressed {
    -fx-background-color: #595e7c;
}

.table-view .table-column .text {
    -fx-fill: #ffffff;
    -fx-font-weight: normal;
}

